

.horizontalPadding {
    padding-left: 50px;
    padding-right: 50px;
}

.buttonsInNavbarPadding {
    padding: 10px 25px 10px 0;
}

.addStandardPadding {
    padding: 16px;
}

.addFormFieldsPadding {
    padding: 8px;
}

.buttonInRowPadding{
    padding: 8px;
}

#userCard {
    min-width: 400px;
    margin: 100px;
    padding: 20px;
}

#noAddresses {
    padding: 60px 16px;
}

.centerText {
    text-align: center;
}
